* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #c68c53a8; */
  background-image: url(imgs/seamlessBulletin.jpeg);

  font-family: "Architects Daughter";
  font-size: 1rem;
}

.main-container {
  width: 95%;
  margin: auto;
}

.container-1 {
  margin-left: 5%;
}

.container-2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0 0 5%;
  cursor: pointer;
}

.container-3 {
  display: none;
  position: absolute;
  top: 26%;
  left: 40%;
}

textarea {
  box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.75);
  outline: none;
  border: none;
  width: 275px;
  height: 275px;
  padding: 40px 25px 25px 25px;
}

svg {
  color: gray;
  height: 25px;
  width: 25px;
}

#check-icon {
  position: absolute;
  right: 17%;
  top: 4%;
  cursor: pointer;
}

#x-icon {
  position: absolute;
  right: 5%;
  top: 4%;
  cursor: pointer;
}
